#bg {
  background: url("css/imgs/bckgd_body.png");
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

html, body, h2, #hero, #overlay {
  font-family: 'Russo One';
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

#hero { background: url(https://s3.amazonaws.com/uploads.hipchat.com/21309/369069/P3rXUVfLuQGvv7N/bw.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }

#overlay { 
  -o-animation: colorcycle 20s infinite;
  -moz-animation: colorcycle20s infinite;
  -webkit-animation: colorcycle 20s infinite;
  animation: colorcycle 20s infinite; 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  position: absolute;
}


@-o-keyframes colorcycle {
  0%   {background: #a24de3;}
  25%  {background: #00aeff;}
  50%  {background: #f45a4a;}
  75%  {background: #4fd1cd;}
  100% {background: #a24de3;}
}

@-moz-keyframes colorcycle {
  0%   {background: #a24de3;}
  25%  {background: #00aeff;}
  50%  {background: #f45a4a;}
  75%  {background: #4fd1cd;}
  100% {background: #a24de3;}
}

@-webkit-keyframes colorcycle {
  0%   {background: #a24de3;}
  25%  {background: #00aeff;}
  50%  {background: #f45a4a;}
  75%  {background: #4fd1cd;}
  100% {background: #a24de3;}
}

@keyframes colorcycle {
  0%   {background: #a24de3;}
  25%  {background: #00aeff;}
  50%  {background: #f45a4a;}
  75%  {background: #4fd1cd;}
  100% {background: #a24de3;}
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
  padding-top: 35px;
  opacity: 1;
}
.titulo {
    font-size: 50px;
}
